html
    head
        title='Vista con PUG'
        link(rel="stylesheet", href="./main.css")
    body
        include navBar.pug
        main
            h1="Catálogo de productos"
            div
                each prod in allProducts
                    div(class="productList")
                        h3=`Producto ${prod.id}`
                        h4=`Nombre: ${prod.title}`
                        p=`Precio: $${prod.price}`
                        img(class="productPhoto" src=prod.thumbnail alt=prod.title)